.contenido{
    width: 100%;
    margin: auto;
    display: flex;
}


.banner {
    display: inline-block;
    width: 100%;
    height: 335px;;
    background-image: url(../img/indexB/ultra.jpg);
    background-size: cover;
    text-align: end;
    color:whitesmoke ;
}

.banner h1{
    margin-top: 60px;;
    margin-right: 15%;
} 

.banner p{
    margin-top: 10px;
    margin-right: 15%;
}

.button {
    border-radius: 12px;
    border: none;
    color: white;
    padding: 7px 12px;
    cursor: pointer;
    text-decoration: none;
    font-size: 18px;
    background: #fd324e;
    background: linear-gradient(to left, #fe344e, #ff7250);
}
