.encabezado2{
    margin-top: 8px;
    justify-content: center; 
    text-align: center;
    width: 100%;   
}

.encabezado2 .presentacion{
    font-size: 18px;
}

.encabezado2 .explicacion{
    font-size: 15px;
    margin-top: 5px;
}


.barraLateral{
    margin-top: 10px;
  margin: 0;
  padding: 0;
  margin-left: 30px;
  width: 275px;
  background-color: #f1f1f1;
  height: 100%;
  overflow: auto;
}


.submenus a{
    margin-top: 10px;
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.barraLateral a.active {
  background-color: #156EDC;
  color: white;
}

.barraLateral a:hover:not(.active) {
  background-color: #555;
  color: white;
}


