.rm_cajaMenuDeCursos{

    font-size: 10px;/*TAMAÑO GENERAL DEL MENU*/

    width: 25em;
    height: 100em;
    float: left;
}
.rm_linea{
    width: 100%;
    height: 0.3em;
    background-color: var(--colorBase);
}
/*----------SECCIÓN DE NAVEGADOR DE CURSOS*/

.rm_menuCursos{
    list-style: none;
    color: var(--colorTexto);
    font-size: 1.5em;
    margin: 0.5em 0em 0.5em 0em;
    padding: 0.5em 0em 0.5em 0.5em;
    cursor:pointer;
    border-left: 0.2em solid var(--colorTexto);
    transition: 0.6s;
}
.rm_seleccionado{
    border-left: 0.2em solid var(--colorBase);
    color: var(--colorBase);
}
.rm_titulo{
    font-size: 2.5em;
    color: var(--colorTexto);
    margin:1em 0em 0.5em 0em;
}
.rm_menuCursos:hover{
    border-left: 0.2em solid var(--colorBase);
    background-color: var(--colorBase);
    color: #ffffff;
}

/*-----------SECCIÓN DE CUADRO DE CURSO-----------*/

.rm_cajaDeFiltrosDeCursos{
    width: 95em;
    height: 100em;
    float: left;
    padding: 2em 0em 0em 3em;
    box-sizing: border-box;
}

.rm_curso{
    font-size: 10px;
    width: 25em;
    height: 25em;
    background-color: #F6F6F6;
    border-radius: 1em;
    margin: 2.4em ;
    float: left;
    position: relative;
}

.rm_cajaImgCurso{
    width: 100%;
    height: 100px;
}

.rm_imgCurso{
    width: 100%;
    height: 100%;
    object-fit: cover;/*<------- NUEVO METODO*/

    border-radius: 1em 1em 0em 0em;
}

.rm_tituloCurso{
    font-size: 1.6em;
    margin: 1em 0.5em 0.3em 1.1em;
    color: var(--colorBase);
}

.rm_parrafoCurso{
    font-size: 1.3em;
    margin: 0em 0.5em 0.5em 1.5em;
    color: var(--colorTexto);
}

.rm_botonVerMas{
    display: block;
    width: 6em;
    padding: 0.5em 0.5em 0.5em 0.5em;
    border-radius: 0.2em;
    color: #ffffff;
    font-size: 1.4em;
    text-align: center;
    background-color: var(--colorBase2);
    position: absolute;
    right: 0.5em;
    bottom: 1em;
}
.rm_botonGratis{
    background-color: var(--colorBase3);
}