* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}

header {
    width: 100%;
    margin: auto;
   /* margin-bottom: 20px;*/
    
}

header nav {
    background-color: whitesmoke;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bs_izquierda {
    display: flex;
    align-items: center;
    width: 50%;
}

.bs_izquierda .bs_logo {
    width: 15%;
}

.bs_izquierda .bs_logo img {
    width: 100%;
}

.bs_izquierda a {
    text-decoration: none;
    color: black;
    font-size: 22px;
    margin-left: 20px;
    border-bottom: 1px solid transparent;
}

.bs_izquierda a:hover {
    cursor: pointer;
    color: rgb(15, 90, 230);
    transition: .2s;
    border-bottom: 1px solid rgb(15, 90, 230);
    margin-bottom: 10px;

}

.bs_derecha a{
    text-decoration: none;
    color: white;
    /* color: black; */
    background: rgb(15, 90, 230);
    padding: 8px;
    margin-right: 20px;
    border-radius: 10px;
}

.bs_derecha a:hover {
    font-size: 18px;
    background: rgb(3, 63, 173);
    transition: .5s;
    color: white;
    padding: 10px;
}

/* Categorias */
.bs_categorias {
    display: none;
    width: 100%;
    text-align: center;
}

.bs_categorias a {
    font-size: 25px;
    text-decoration: none;
    color: rgb(0, 124, 182);
    margin: 20px;
}

.bs_anuncio {
    width: 100%;
    background: #156EDC;
    color: #fff;
    text-align: center;
    margin: auto;
}

.encabezado2{
    margin-top: 10px;
    justify-content: center; 
    text-align: center;
    width: 100%;   
}

.encabezado2 .presentacion{
    font-size: 23px;
    font-weight: 0;
}

.encabezado2 .explicacion{
    font-size: 20px;
    margin-top: 5px;
}

@media screen and (max-width:1200px) {
    header nav {
        width: 100%;
    }
    .bs_anuncio {
    width: 100%;
    background: #156EDC;
    color: #fff;
    text-align: center;
    margin: auto;
}

}

@media screen and (max-width:950px) {
    header .bs_izquierda {
        width: 40%;
    }

    header .bs_izquierda .bs_logo {
        width: 70%;
    }

    header .bs_izquierda .bs_logo img {
        width: 80%;
    }

    nav .bs_izquierda a {
        display: none;
    }

    .bs_categorias {
        display: block;
    }

    .bs_derecha a {
        font-size: 15px;
        padding: 10px;

    }

    .bs_derecha a:hover {
        padding: 10px;
        border-radius: 10px;
    }
    .bs_anuncio {
    width: 100%;
    background: #156EDC;
    color: #fff;
    text-align: center;
    margin: auto;
}

}
