*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.section100{
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #F6F6F6;
}
.body{
    width: 1200px;
    margin: auto;
}

/*COLORES DE LA PÁGINA*/
:root{
    --colorBase: #156EDC;
}