*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

    font-family:sans-serif;
}

a{
    text-decoration: none;
}

.section100{
    width: 100%;
    padding-top: 4em;
    padding-bottom: 4em;
    background-color: #ffffff;
    overflow: hidden;
}
.body{
    width: 1200px;
    margin: auto;
    margin-bottom: 4em;
    font-size: 10px;
}
.texto{
    font-size: 2em;
}

.linea{
    width: 100%;
    height: auto;
    background-color: var(--colorBase);
}

body{
    font-size: 10px;
}
/*MEDIDAS PARA EL TELEFONO*/

/*RESOLUCIÓN DE 767*/
@media only screen and (max-width: 767px) {

    .body{
        width: 95%;
        margin: auto;
    }
}

/*COLORES DE LA PÁGINA*/
:root{
    --colorBase: #156EDC;
    --colorTexto:  #848484;
    --colorTextoFuerte: #5B5B5B;
}
.color1{
    background-color: #ffffff;
}





/*------- CLASES PARA EL USO DE DESARROLLO*/

.desColor{
    background-color: red;
}