.ar_menulateral{
    margin-top: 10px;
    width: 100%;
    max-width: 1500px;
    margin: auto;
    /* background: rgba(243, 243, 243, 0.664); */
    padding: 20px;
}
/* ---------------------------------------- */

/* Seccion*/
.ar_menulateral .ar_contenedor{
    width: 90%;
    display: flex;
    margin: auto;
    justify-content: space-between;
}

/* Seccion Izquierda */
.ar_contenedor .ar_izquierda{
    width: 50%;
}
.ar_contenedor .ar_izquierda h1{
    font-weight: 600;
    font-size: 40px;
}
.ar_contenedor .ar_izquierda .ar_descripcion{
    font-weight: 600;
    margin-top: -5px;
}
.ar_contenedor .ar_izquierda .ar_caja{
    width: 100%;
}
.ar_contenedor .ar_caja .ar_dato{
    width:100%;
    border-left: 2px solid transparent;
    padding-left: 5px;
    transition: .5s;
}
.ar_contenedor .ar_caja .ar_dato:hover{
    cursor: pointer;
    color: #1647B8;
    font-weight: 600;
    margin-left: 10px;
    border-left: 5px solid #1647B8;
}
/* Seccion Derecha */
.ar_menulateral .ar_derecha{
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.301);
    display: flex;
    justify-content: space-between;
    border-radius: 30px;
}
.ar_menulateral .ar_derecha .ar_foto{
    width: 100%;
    display: flex;
    align-self: center;
}
.ar_menulateral .ar_derecha .ar_foto img{
    width: 90%;
}
.ar_menulateral .ar_derecha .ar_caja{
    width:90%;
    text-align: center;
    align-self: center;
    margin-top: -70px;
}
.ar_menulateral .ar_derecha .ar_caja h2{
    font-weight: 600;
    font-size: 30px;
}
.ar_menulateral .ar_derecha .ar_caja p{
    font-size: 18px;
    margin-right: 20px;
    margin-bottom: 30px;
}
.ar_menulateral .ar_derecha .ar_caja a{
    padding: 10px;
    background: #2A67F5;
    border-radius: 5px;
    text-align: center;
    color: white;
    text-decoration: none;
    transition: 300ms;
}
.ar_menulateral .ar_derecha .ar_caja a:hover{
    padding: 10px 50px;
    border-radius: 10px;
}
@media screen and (max-width:800px){
    .ar_menulateral .ar_contenedor{
        flex-direction: column;
    }
    .ar_menulateral .ar_izquierda{
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
    }
    .ar_menulateral .ar_derecha{
        flex-direction: column;
        width: 100%;
        margin: auto;
    }
    .ar_menulateral .ar_derecha .ar_foto{
        width: 50%;
        order: 1;
        margin: 20px;
        display: flex;
        justify-content: center;
    }
    .ar_menulateral .ar_derecha .ar_foto img{
        width:80%;
    }
    .ar_menulateral .ar_derecha .ar_caja{
        width: 90%;
        margin-top: 0px;
        text-align: center;
    }
    .ar_menulateral .ar_derecha .ar_caja #ar_descripcion{
        text-align: center;
        width: 100%;
    }

}