* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}

header {
    background: #fff;
}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
}

.logo img {
    margin: px;
    width: 60px;
}

.menus a {
    padding: 16px 12px;
    color: black;
    text-decoration: none;
}


.menu .menus {
    display: flex;
}

.boton button {
    cursor: pointer;
    margin-right: 30px;
    padding: 7px 14px;
    border: none;
    background: #156EDC;
    color: #fff;
    border-radius: 10px;
    outline: none;
}

.anuncio {
    width: 100%;
    background: #156EDC;
    color: #fff;
    text-align: center;

}


/*ocultamos div de ceular*/
.phone-top {
    display: none;
}

@media screen and (max-width:500px) {

    header nav {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    /*hacemos visible top de celualr*/
    .phone-top {
        margin-top: 18px;
        display: flex;
        width: 100%;
        height: 50px;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .img-phone img {
        width: 100px;
        height: 75px;
    }

    .button-phone button {
        cursor: pointer;
        /*margin-right: 5px;*/
        padding: 8px 10px;
        border: none;
        background: #156EDC;
        color: #fff;
        border-radius: 10px;
        outline: none;

    }

    /*aqui acaba el top*/

    .logo img {
        display: none;
    }

    .menu {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 0px 30px;
    }

    .menus {
        margin-top: 12px;
    }

    .menus a {
        font-size: 18px;
    }

    .boton button {
        display: none;
    }

}
